---
layout: default
title: "Ivan Božić"
---

<div class="section section--bio">
    <h1>👋 Hey there!</h1>
    <p>
        I am the CEO and co-founder of
        <a href="http://arsfutura.co/" target="_blank">Ars Futura</a>, a
        design-driven software development agency based in Croatia.
    </p>
    <p>
        You can get in touch me via email or one of the social networks below.
    </p>
    <div class="section--bio__links">
        <a href="mailto:ivan@arsfutura.co"
            >{% include_relative images/icon-email.svg %} Email</a
        >
        <a href="https://www.linkedin.com/in/ivanbozic/" target="_blank"
            >{% include_relative images/icon-linkedin.svg %} LinkedIn</a
        >
        <a href="https://twitter.com/bozicivan" target="_blank"
            >{% include_relative images/icon-twitter.svg %} Twitter</a
        >
        <a href="http://instagram.com/ivanbozic" target="_blank"
            >{% include_relative images/icon-instagram.svg %} Instagram</a
        >
    </div>
</div>
<div class="section section--ars-futura">
    <h2>Ars Futura</h2>
    <p>
        I co-founded Ars Futura with a friend back in 2013 when I was 22 years
        old. Today, Ars Futura has
        <em>24 employees</em> and we have worked with more than
        <em>30 clients</em> from all around the world, building mobile and web
        apps.
    </p>
    <p>
        Our clients range from small startups, established agencies to large
        corporations. We have worked with
        <em>Activision Blizzard</em> and their subsidiary
        <a href="http://mlg.com/" target="_blank">Major League Gaming</a>
        to bring esports to millions of people around the world. With a little
        help from us,
        <a href="https://elementalmachines.io/" target="">Elemental Machines</a>
        is revolutionizing science-based industries with powerful, data-driven
        insights. We partnered with
        <a href="https://miturf.com/" target="_blank">MITURF</a> to build the
        best way to discover and book sporting spaces. And we're working with
        <a href="https://innovationlabs.harvard.edu/" target="_blank"
            >Harvard</a
        >
        on technology that powers their innovation incubator.
    </p>
    <p>
        You can find out more about Ars Futura and our clients at our
        <a href="http://arsfutura.co/" target="_blank">website</a>.
    </p>
</div>
<div class="section section--reading">
    <h2>Reading</h2>
    <p>
        Reading is something that lets me relax from a long day working, and
        often provides me with a different outlook on life and experiences.
    </p>
    <p>This is what I'm currently reading:</p>
    <ul>
        <li>
            <a
                href="https://www.amazon.com/Long-Way-Round-Chasing-Shadows-ebook/dp/B000FC2NVW/"
                target="_blank"
                >Long Way Round: Chasing Shadows Across the World</a
            >
            by <em>Ewan McGregor and Charley Boorman</em>
        </li>
    </ul>
    <p>And here are some books that I recently read:</p>
    <ul>
        <li>
            <a
                href="https://www.amazon.com/Jupiters-Travels-Ted-Simon-ebook/dp/B002RI92RU/"
                target="_blank"
                >Jupiter's Travels</a
            >
            by <em>Ted Simon</em>
        </li>
        <li>
            <a
                href="https://www.amazon.com/Seabiscuit-True-Story-Three-Racehorse-ebook/dp/B00HY59F4G/"
                target="_blank"
                >Seabiscuit: The True Story of Three Men and a Racehorse</a
            >
            by <em>Laura Hillenbrand</em>
        </li>
        <li>
            <a
                href="https://www.amazon.com/Open-Autobiography-Andre-Agassi-ebook/dp/B002VYJYR8/"
                target="_blank"
                >Open: An Autobiography</a
            >
            by <em>Andre Agassi</em>
        </li>
        <li>
            <a
                href="https://www.amazon.com/Into-Thin-Air-Jon-Krakauer-ebook/dp/B000FC1ITK/"
                target="_blank"
                >Into Thin Air</a
            >
            by <em>Jon Krakauer</em>
        </li>
        <li>
            <a
                href="https://www.amazon.com/Into-Wild-Jon-Krakauer-ebook/dp/B000SEFNMS/"
                target="_blank"
                >Into the Wild</a
            >
            by <em>Jon Krakauer</em>
        </li>
        <li>
            <a
                href="https://www.amazon.com/Boys-Boat-Daniel-James-Brown-ebook/dp/B00BUOA7CG"
                target="_blank"
                >The Boys In The Boat: An Epic Journey to the Heart of Hitler's
                Berlin</a
            >
            by <em>Daniel James Brown</em>
        </li>
        <li class="hidden">
            <a
                href="https://www.amazon.com/Fire-Upon-Deep-Zones-Thought/dp/0812515285"
                target="_blank"
                >A Fire Upon the Deep</a
            >
            by <em>Vernor Vinge</em>
        </li>
        <li class="hidden">
            <a
                href="https://www.amazon.com/Strange-Weather-Joe-Hill-ebook/dp/B06WWLBM7W"
                target="_blank"
                >Strange Weather</a
            >
            by <em>Joe Hill</em>
        </li>
        <li class="hidden">
            <a
                href="https://www.amazon.com/Remote-Office-Required-Jason-Fried/dp/0804137501"
                target="_blank"
                >Remote: Office Not Required</a
            >
            by <em>Jason Fried, David Heinemeier Hansson</em>
        </li>
        <li class="hidden">
            <a
                href="https://www.amazon.com/Fear-Trump-White-Bob-Woodward/dp/1501175513"
                target="_blank"
                >Fear: Trump in the White House</a
            >
            by <em>Bob Woodward</em>
        </li>
        <li class="hidden">
            <a
                href="https://www.amazon.com/Art-Racing-Rain-Novel-ebook/dp/B0017SWPXY"
                target="_blank"
                >The Art of Racing in the Rain</a
            >
            by <em>Garth Stein</em>
        </li>
        <li class="hidden">
            <a
                href="https://www.amazon.com/Principles-Life-Work-Ray-Dalio/dp/1501124021"
                target="_blank"
                >Principles</a
            >
            by <em>Ray Dalio</em>
        </li>
        <li class="hidden">
            <a
                href="https://www.amazon.com/iWoz-Computer-Invented-Personal-Co-Founded/dp/0393330435"
                target="_blank"
                >iWoz</a
            >
            by <em>Steve Wozniak</em>
        </li>
        <li class="hidden">
            <a
                href="https://www.amazon.com/Life-Parts-Bryan-Cranston/dp/1476793875"
                target="_blank"
                >A Life in Parts</a
            >
            by <em>Bryan Cranston</em>
        </li>
        <li class="hidden">
            <a
                href="https://www.amazon.com/Man-Called-Ove-Novel/dp/1476738025"
                target="_blank"
                >A Man Called Ove</a
            >
            by <em>Fredrik Backman</em>
        </li>
        <li class="hidden">
            <a
                href="https://www.amazon.com/Thinking-Fast-Slow-Daniel-Kahneman-ebook/dp/B005MJFA2W/"
                target="_blank"
                >Thinking, Fast and Slow</a
            >
            by <em>Daniel Kahneman</em>
        </li>
        <li class="hidden">
            <a
                href="https://www.amazon.com/Stay-Awhile-Listen-Legendary-Video-Game-ebook/dp/B00G8UL474/"
                target="_blank"
                >Stay Awhile and Listen: How Two Blizzards Unleashed Diablo and
                Forged a Video-Game Empire</a
            >
            by <em>David L. Craddock</em>
        </li>
        <li class="hidden">
            <a
                href="https://www.amazon.com/Shoe-Dog-Memoir-Creator-Nike-ebook/dp/B0176M1A44/"
                target="_blank"
                >Shoe Dog: A Memoir by the Creator of Nike</a
            >
            by <em>Phil Knight</em>
        </li>
    </ul>
    <a data-action="reading-show-more" class="subtle">&rarr; Show more...</a>
</div>
