---
permalink: /reading/
layout: "default"
title: "Reading"
---

<header>
    <a href="/">&larr; Home</a>
</header>
<div class="section">
    <p>
        I love reading. Reading is something that can open up a world of new
        experiences, ideas and change your entire outlook on some things in
        life. For the past two years, I've started reading a lot more
        biographies, travel essays and non-fiction books in general.
    </p>
    <h2>Currently Reading</h2>
    {% assign books = site.data.reading | where:"is_reading","true" %}
    <div class="reading-showcase">
        {% for book in books %}
        <div class="reading-showcase__book">
            <div class="book__cover book__cover--{{ book.cover_style }}">
                <img src="{{ book.cover_art }}" alt="" />
                <img class="shadow" src="{{ book.cover_art }}" alt="" />
            </div>
            <div class="book__meta">
                <h3>
                    <a href="{{ book.link }}" target="_blank">{{
                        book.title
                    }}</a>
                </h3>
                <p class="book__author">
                    by <em>{{ book.author }}</em>
                </p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<div class="section">
    <p>
        I started writing down the books I've read on this website on February
        19th, 2018. Lately, I've started jotting down some notes while I'm
        reading a book or after I've read it. Where it makes sense, I'll try and
        include those next to the books themselves.
    </p>
    <h2>Reading History</h2>
    {% assign books = site.data.reading | where:"is_reading","false" %}
    <div class="reading-showcase">
        {% for book in books %}
        <div class="reading-showcase__book">
            <div class="book__cover book__cover--{{ book.cover_style }}">
                <img src="{{ book.cover_art }}" alt="" />
                <img class="shadow" src="{{ book.cover_art }}" alt="" />
            </div>
            <div class="book__meta">
                <h3>
                    <a href="{{ book.link }}" target="_blank">{{
                        book.title
                    }}</a>
                </h3>
                <p class="book__author">
                    by <em>{{ book.author }}</em>
                </p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
