---
---

@import "normalize";
@import "breaks";

:root {
    --text-color: #111;
    --accent-color: #fd5200;
    --background-color: #fff8eb;
    --horizontal-rule-text-color: #afa084;
}

@media (prefers-color-scheme: dark) {
    :root {
        --text-color: #fff8eb;
        --background-color: #111;
    }
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background: var(--background-color);
    color: var(--text-color);
    font-family: -apple-system, BlinkMacSystemFont, "Inter", "IBM Plex Sans", Segoe UI, Helvetica, Arial, sans-serif;
    font-size: 17px;
    line-height: 1.6;

    h1, h2, h3 {
        font-weight: 500;
    }

    h2 {
        margin: 3em 0 1em 0;
        font-size: 1.4em;
    }

    h3 {
        margin: 2em 0 1em 0;
        font-size: 1.2em;
    }

    a {
        color: var(--text-color);

        &:hover {
            color: var(--accent-color);
        }
    }

    hr {
        display: block;
        height: 1px;
        margin: 3em 0;
        border: 0;
        text-align: center;

        &:before {
            content: '\2022\2022\2022';
            color: var(--horizontal-rule-text-color);
            font-size: 1.2em;
            letter-spacing: 1.5em;
            position: relative;
            top: -0.8em;
        }
    }
}

header {
    display: flex;
    margin-bottom: 48px;
    padding: 24px 0;

    a {
        display: flex;
        gap: 6px;
        align-items: center;
        color: var(--text-color);
        text-decoration: none;

        &:hover {
            color: var(--accent-color);
        }

        svg {
            display: block;
            width: 20px;
            height: 20px;
        }

        span {
            font-weight: 500;
        }
    }
}

footer {
    padding-bottom: 8em;
}

.container {
    max-width: 720px;
    margin: 0 auto;
    padding: 0 24px;
}