---
---

@import "normalize";
@import "breaks";
@import "typography";
@import "colors";

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background: #fff;
    font-family: $font-body;
    font-size: 18px;
    line-height: 1.6;

    @media (prefers-color-scheme: dark) {
        background: #111;
        color: #fff;
    }

    h1, h2 {
        font-family: $font-heading;
    }

    h1 {
        color: #111;
        font-size: 3.2em;

        @media (prefers-color-scheme: dark) {
            color: #fff;
        }

        @media #{$breakpoint-mobile} {
            font-size: 2.7em;
        }
    }

    h2 {
        margin-bottom: 0;
        color: #111;
        font-size: 2.4em;

        @media (prefers-color-scheme: dark) {
            color: #fff;
        }
    }

    ul {
        li {
            margin: 12px 0;
        }
    }

    p {
        margin: 16px 0;
    }

    a {
        border-bottom: 1px solid $color-accent-light-theme;
        color: $color-accent-light-theme;
        font-weight: bold;
        text-decoration: none;
        position: relative;

        @media (prefers-color-scheme: dark) {
            color: $color-accent-dark-theme;
            border-bottom-color: $color-accent-dark-theme;

            &:hover {
                background: $color-accent-dark-theme;
                color: #111;
            }
        }

        &:hover {
            background: black;
            color: #fff;
            border: transparent;
        }
    }
}

.wrapper {
    max-width: 800px;
    margin: 0 auto;
    padding: 24px 48px;

    @media #{$breakpoint-mobile} {
        padding: 16px;
    }
}

.section {
    margin-top: 48px;
}

.section--bio {
    h1 {
        margin-bottom: 0px;
    }

    p {
    }

    .section--bio__links {
        display: flex;
        flex-wrap: wrap;
        margin-top: 24px;

        a {
            display: block;
            margin-right: 24px;
            margin-bottom: 24px;
            color: #111;
            border-bottom: none;
            font-weight: 400;

            @media (prefers-color-scheme: dark) {
                color: #fff;
            }

            &:hover {
                background: none;

                &:after {
                    opacity: 0.5;
                }

                svg.linkedin * {
                    fill: #0077b5;
                }

                svg.twitter * {
                    fill: #1da1f2;
                }

                svg.instagram * {
                    fill: #dc2d7b;
                }

                svg.email * {
                    fill: $color-accent-light-theme;

                    @media (prefers-color-scheme: dark) {
                        fill: $color-accent-dark-theme;
                    }
                }
            }

            &:after {
                content: "";
                display: inline-block;
                width: 12px;
                height: 12px;
                margin-left: 8px;
                position: relative;
                top: 1px;
                background: transparent url("./images/link-arrow.svg") no-repeat
                    center center;
                opacity: 0;

                @media (prefers-color-scheme: dark) {
                    background: transparent url("./images/link-arrow-white.svg")
                        no-repeat center center;
                }
            }

            svg {
                position: relative;
                top: 4px;
                display: inline-block;
                width: 20px;
                height: 20px;
                margin-right: 4px;

                @media (prefers-color-scheme: dark) {
                    * {
                        fill: #fff;
                    }
                }
            }
        }
    }
}

.section--ars-futura {
    em {
        font-style: italic;
        font-weight: bold;
    }
}

.section--reading {
    span.book-rating {
        color: rgba(#000, 0.5);
        font-size: 0.75em;
    }

    ul {
        margin-bottom: 40px;
    }

    li.hidden {
        display: none;
    }

    a.subtle {
        border: none;
        margin-left: 40px;
        color: #333;
        cursor: pointer;

        @media (prefers-color-scheme: dark) {
            color: $color-accent-dark-theme;

            &:hover {
                background: $color-accent-dark-theme;
                color: #111;
            }
        }

        &:hover {
            background: none;
            color: #111;
        }
    }
}

.reading-showcase {
    .reading-showcase__book {
        display: flex;
        align-items: center;
        margin: 32px 0;
        position: relative;

        .book__cover {
            position: relative;

            img {
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;
                display: block;
                width: 120px;
            }

            img.shadow {
                position: absolute;
                top: 6px;
                left: 0;
                display: block;
                width: 120px;
                filter: blur(8px);
                opacity: 0.3;
                z-index: -1;
            }

            &::before {
                content: "";
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                width: 20px;
                opacity: 0.3;
            }

            &.book__cover--dark::before {
                background: transparent url("/images/book-spine-dark.png")
                    repeat-y;
                background-size: 9px 20px;
            }

            &.book__cover--light::before {
                background: transparent url("/images/book-spine-light.png")
                    repeat-y;
                background-size: 9px 20px;
            }
        }

        .book__meta {
            padding-left: 24px;
            max-width: 480px;
        }
    }
}

footer {
    margin-top: 96px;

    p {
        color: rgba(#000, 0.5);
        font-size: 0.8em;

        @media (prefers-color-scheme: dark) {
            color: rgba(#fff, 0.6);
        }
    }
}
