@import "normalize";
@import "breaks";

@import url("https://use.typekit.net/gxm1oya.css");

html {
    box-sizing: border-box;
    background: #0cbaba;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 5px 0;
    background: #fff9f1;
    font-family: "freight-sans-pro", serif;
    font-size: 21px;
    line-height: 1.5;

    @media #{$breakpoint-mobile} {
        font-size: 18px;
    }

    h1 {
        color: #030027;
        font-family: "professor", serif;
        font-size: 3.2em;
    }

    h2 {
        margin-bottom: 0;
        color: #030027;
        font-family: "professor", serif;
        font-size: 2.4em;
    }

    ul {
        li {
            margin: 12px 0;
        }
    }

    p {
        margin: 16px 0;
    }

    a {
        border-bottom: 1px dashed #5da9e9;
        color: #5da9e9;
        font-weight: bold;
        text-decoration: none;

        &:hover {
            // border-bottom: 1px solid #242424;
            background: rgba(#5da9e9, 0.25);
        }
    }
}

.wrapper {
    max-width: 720px;
    padding: 24px 48px;

    @media #{$breakpoint-mobile} {
        padding: 16px 24px;
    }
}

.section {
    margin-top: 48px;
}

.section--bio {
    h1 {
        margin-bottom: 0px;
    }

    p {
    }
}

.section--ars-futura {
    em {
        font-style: italic;
        font-weight: bold;
    }
}

.section--reading {
    span.book-rating {
        color: rgba(#000, 0.5);
        font-size: 0.75em;
    }
}

footer {
    margin-top: 96px;

    p {
        color: rgba(#000, 0.5);
        font-size: 0.8em;

        span {
            margin-right: 8px;
            color: #0cbaba;
            font-size: 0.8em;
        }
    }
}
