@import "normalize";
@import "breaks";

@import url("https://use.typekit.net/gxm1oya.css");

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background: #fff;
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier,
        monospace;
    font-size: 16px;
    line-height: 1.6;

    &[data-theme="dark"] {
        background: #111;
        color: #fff;
    }

    &[data-theme="dark"] h1,
    &[data-theme="dark"] h2 {
        color: #fff;
    }

    @media #{$breakpoint-mobile} {
        font-size: 18px;
    }

    h1 {
        color: #111;
        font-family: "professor", serif;
        font-size: 3.2em;

        @media #{$breakpoint-mobile} {
            font-size: 2.7em;
        }
    }

    h2 {
        margin-bottom: 0;
        color: #111;
        font-family: "professor", serif;
        font-size: 2.4em;
    }

    ul {
        li {
            margin: 12px 0;
        }
    }

    p {
        margin: 16px 0;
    }

    a {
        border-bottom: 1px solid #fd5200;
        color: #fd5200;
        font-weight: bold;
        text-decoration: none;
        position: relative;

        &:hover {
            background: black;
            color: #fff;
            border: transparent;
        }
    }

    &[data-theme="dark"] a {
        color: #ffc30c;
        border-bottom-color: #ffc30c;

        &:hover {
            background: #ffc30c;
            color: #111;
        }
    }
}

.wrapper {
    max-width: 720px;
    padding: 24px 48px;

    @media #{$breakpoint-mobile} {
        padding: 16px 24px;
    }
}

.section {
    margin-top: 48px;
}

.section--bio {
    h1 {
        margin-bottom: 0px;
    }

    p {
    }
}

.section--ars-futura {
    em {
        font-style: italic;
        font-weight: bold;
    }
}

.section--reading {
    span.book-rating {
        color: rgba(#000, 0.5);
        font-size: 0.75em;
    }

    li.hidden {
        display: none;
    }

    a.subtle {
        border: none;
        margin-left: 40px;
        color: #333;
        cursor: pointer;

        &:hover {
            background: none;
            color: #111;
        }
    }

    body[data-theme="dark"] & a.subtle {
        color: #ffc30c;

        &:hover {
            background: #ffc30c;
            color: #111;
        }
    }
}

footer {
    margin-top: 96px;

    p {
        color: rgba(#000, 0.5);
        font-size: 0.8em;
    }

    body[data-theme="dark"] & p {
        color: rgba(#fff, 0.6);
    }
}
