<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width,initial-scale=1.0,user-scalable=no"
        />
        <title>{{ page.title }} &mdash; Ivan Bozic</title>
        {% include favicon.html %}
        <link rel="stylesheet" href="/site.css" />
        <script defer data-domain="ivanbozic.com" src="https://plausible.io/js/script.js"></script>
    </head>
    <body>
        <div class="container">
            <header>
                <a href="/">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-globe-icon lucide-globe"><circle cx="12" cy="12" r="10"/><path d="M12 2a14.5 14.5 0 0 0 0 20 14.5 14.5 0 0 0 0-20"/><path d="M2 12h20"/></svg>
                    <span>Ivan Bozic</span>
                </a>
            </header>
            {{ content }}
            <footer>
                <hr>
                <p>You can get in touch with me via <a href="mailto:ivan.bozic@hey.com">email</a>, <a href="https://www.linkedin.com/in/ivanbozic/">LinkedIn</a> or <a href="https://bsky.app/profile/ivanbozic.bsky.social">Bluesky</a>.</p>
            </footer>
        </div>
        <a hidden rel="me" href="https://mas.to/@ivanbozic">Mastodon</a>
        <script src="/site.js"></script>
    </body>
</html>
